.hero {
    background-image: url(../../img/background.webp) , linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8));
    background-position: center;
    height: 270px;
    width: 670px;
    display: flex;
    background-size: cover;
    justify-content: flex-end;
    margin-left: auto;
    margin-top: -40px;
    border-radius: 20px;
    padding-left: 25px;
    padding-top: 10px;
    padding-right: 0;
    position: relative;
    z-index: 1;
}

.line {
    height: 7px;
    width: 280px;
    border-radius: $radius-circle;
    background-color: #28292e;
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.line::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    
    width: 140px; 
    height: 100%;
    
    background-image: linear-gradient(to right, #00ffff 0%, transparent 100%);
    }

    .titles {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-right: auto;
        justify-content: flex-start;
    }

    .titleC {
    font-family: $font-sans;
    font-size: 30px;
    width: 100%;
    text-decoration: none;
    color: $text-color;
    white-space: nowrap;
}

.mini-title {
    font-family: $font-orbitron;
    font-size: 22px;
    margin-top: 50px;
    text-decoration: none;
    color: $text-color;
    width: 300px;
}

.ikon-div {
    height: 60px;
    width: 60px;
    background-color: #FFFFFF33;
    border-radius: $radius-circle;
    display: flex;
    margin-right: 20px;
    margin-top: 35px;
    align-items: center;
    justify-content: center;
}

.ikon2 {
    color: rgb(255, 255, 255, 0.7);
    font-size: 30px;
    margin-top: 3px;
}
